.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;
  text-transform: capitalize;
  background-image: url("./back.jpg"); /* The image used */
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
.game-area{
  display: grid;
  grid-template-columns:1fr 150px 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
}


