.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;
  background-color: aqua;
}
/* temp */
.game-area{
  display: grid;
  grid-template-columns:1fr 150px 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
}
