.score-board{
  background-color: bisque;
  display: grid;
  grid-template-columns: 200px minmax(200px,1fr) 200px;
  grid-template-rows: 100%;
  padding: 1rem;
}

.status{
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 100%;
  padding-left: 10px;
}

h3,p{
  margin: 0;
}

.config{
  display: flex;
  justify-content: center;
  align-items: center;
}